.footerContainer {
    background-color: #202027;
    display: flex;
    gap: 20px;
    padding: 20px;
    font-weight: 500;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100dvw;
    .infoSection {
        width: 100%;
        padding: 0 120px;
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    .socialMediaSection {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 30px;
    }
}