.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    .claim-section {
        width: 30%;
        .claim {
            font-size: 300%;
            font-weight: 700;
            span {
                color: #BC3A80;
            }
        }
    }
    .formSection {
        background-color: #202027;
        width: 30%;
        padding: 50px;
        border-radius: 20px;
        .form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            label {
                font-weight: 700;
            }
            input {
                background-color: transparent;
                border: solid 0.5px #2796ff;
                border-radius: 5px;
                height: 35px;
            }
            .btn-cta {
                width: 100%;
            }
        }
    }
}
