.join-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    .join-claim-section {
        width: 30%;
        .claim {
            font-size: 300%;
            font-weight: 700;
            span {
                color: #BC3A80;
            }
        }
    }
    .join-form-section {
        background-color: #202027;
        width: 30%;
        padding: 50px;
        border-radius: 20px;
        .form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            label {
                font-weight: 700;
            }
            input {
                background-color: transparent;
                border: solid 0.5px #2796ff;
                border-radius: 5px;
                height: 35px;
            }
            .btn-cta {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .join-main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        margin-top: 20px;
        .join-claim-section {
            width: 90%;
        }
        .join-form-section {
            width: 90%;
        }
    }
}
