.mainSection {
    background-color: transparent;
    display: flex;
    justify-content: center;
    gap: 50px;
    .img {
        width: 500px;
        height: 700px;
    }
    .claimSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100dvh;
        gap: 20px;
        h1 {
            font-size: 200%;
        }
    }

}


