.mainSection {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0%;
    left: 20%;
    .imageSection, .claimSection {
        display: flex;
        flex-direction: column;
    }
    .imageSection {
        .img {
            width: 350px;
            height: 500px;
        }
    }
    .claimSection {
        padding: 100px;
        gap: 30px; 
        h1 {
            font-size: 250%;
            font-weight: 500;
        }
    }

}