.landing-main-section {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0%;
    left: 20%;
    .landing-image-section, .landing-claim-section {
        display: flex;
        flex-direction: column;
    }
    .landing-image-section {
        .img {
            width: 400px;
            height: 650px;
        }
    }
    .landing-claim-section {
        padding: 100px;
        gap: 30px; 
        h1 {
            font-size: 250%;
            font-weight: 500;
        }
    }
}

@media screen and (max-width: 768px) {
    .landing-main-section {
        position: static;
        padding: 20px;
        margin-top: 150px;
        .landing-image-section{
            .img {
                display: none;
            }
        }
        .landing-claim-section {
            padding: 15px;
            gap: 20px;
        }
    }
    
    
}


