.circle1, .circle2 {
    position: absolute;
    z-index: -1;
}

.circle1 {
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background-color: rgba(188, 58, 128, 0.2);
    bottom: -50px;
    left: -100px;
}

.circle2 {
    width: 450px;
    height: 450px;
    border-radius: 100%;
    top: -150px;
    left: 300px;
}
