button {
    color: #f2f2f2;
    background-color: #1762A7;
    padding: 15px;
    border: none;
    border-radius: 10px;
    width: 100px;
}
button:hover {
    background-color: #2180d8;
}
button:focus {
    background-color: #2796ff;
}