.headerContainer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 10px;
}

@media screen and (max-width: 768px) {
    .headerContainer {
        padding: 15px;
        margin: 0;
    }
}